doctype html
head
  title Compras en el Carrito
  link(rel="stylesheet", href="/css/estilo.css")
  link(rel="stylesheet", href="/css/carrito.css")
html
  body
    include menu.pug
    h1 Compras Realizadas
    table
      caption compras
      th Id_compra
      th Documento Cliente
      th Nombre Producto
      th Cantidad Compra
      th Precio Producto
      th Fecha compra
      th Admin
      for val in lista
        tr
          td=val.id_compra
          td=val.cedula
          td=val.nombre_prod
          td=val.cantidad_comp
          td=val.precio_prod
          td=val.fecha_comp
          
          td
            a(href="../carrito_comp/eliminar/"+val.id_compra)
              img(src="/img/eliminar.jpg" ,title='eliminar compra',width=40)
